In [1]:
import selenium
from selenium import webdriver
import time
import pandas as pd
import numpy as np

In [2]:
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

## Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
## Webpage https://www.naukri.com/

In [3]:
# Function Definition
def data_analyst(url):
    driver1=webdriver.Chrome("C://chromedriver.exe")
    driver1.get(url)
    time.sleep(6)
    
    enter_job=driver1.find_element_by_id('qsb-keyword-sugg')
    enter_job.send_keys('Data Analyst')
    enter_loc=driver1.find_element_by_id('qsb-location-sugg')
    enter_loc.send_keys('Bangalore')
    search_butn=driver1.find_element_by_xpath("//div[@class='search-btn']/button")
    search_butn.click()
    time.sleep(6)
    
#     Let's create empty lists to store necessary information 
    job_titles=[]
    job_locs=[]
    comp_names=[]
    exp_req=[]
    
#     extracting job titles
    for i in driver1.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
        job_titles.append(i.text)
#     extracting job locations
    for i in driver1.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span"):
        job_locs.append(i.text)
#     extracting companies names
    for i in driver1.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
        comp_names.append(i.text)
#     extracting experience required
    for i in driver1.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span"):
        exp_req.append(i.text)
    
    Q1_DF=pd.DataFrame({})
    Q1_DF['Job Title']=job_titles[:10]
    Q1_DF['Job Location']=job_locs[:10]
    Q1_DF['Company Name']=comp_names[:10]
    Q1_DF['Experience Required']=exp_req[:10]
    
    driver1.close()
    
    return Q1_DF


# Calling Function
data_analyst('https://www.naukri.com/')

,Job Title,Job Location,Company Name,Experience Required
0,Data Analyst Analyzing,Bangalore/Bengaluru,Cistup Indian Institute of Science,2-5 Yrs
1,Senior Analyst-Data Visualization,Bangalore/Bengaluru,Accenture Solutions Pvt Ltd,5-8 Yrs
2,Market Unit - Data Business Analyst (11),Bangalore/Bengaluru,Accenture Solutions Pvt Ltd,1-2 Yrs
3,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-6 Yrs
4,Analyst-Finance Data Maintenance,Bangalore/Bengaluru,Accenture Solutions Pvt Ltd,3-5 Yrs
5,Senior Analyst-Data Management,Bangalore/Bengaluru,Accenture Solutions Pvt Ltd,5-8 Yrs
6,Analyst-Data Management,Bangalore/Bengaluru,Accenture Solutions Pvt Ltd,3-5 Yrs
7,Senior Analyst-Data Management,Bangalore/Bengaluru,Accenture Solutions Pvt Ltd,5-8 Yrs
8,Senior Analyst-Data Visualization,Bangalore/Bengaluru,Accenture Solutions Pvt Ltd,5-8 Yrs
9,Senior Analyst-Finance Data Maintenance,Bangalore/Bengaluru,Accenture Solutions Pvt Ltd,5-8 Yrs

## Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.
## Webpage https://www.naukri.com/

In [4]:
# Function Definition
def data_scie1(url):
    driver2=webdriver.Chrome("C://chromedriver.exe")
    driver2.get(url)
    time.sleep(6)
    
    enter_job=driver2.find_element_by_id('qsb-keyword-sugg')
    enter_job.send_keys('Data Scientist')
    enter_loc=driver2.find_element_by_id('qsb-location-sugg')
    enter_loc.send_keys('Bangalore')
    search_butn=driver2.find_element_by_xpath("//div[@class='search-btn']/button")
    search_butn.click()
    time.sleep(6)
    
#     Let's create empty lists to store necessary information 
    job_titles=[]
    job_locs=[]
    comp_names=[]
    jobs_desc=[]
#     creating one empty list, to store jobs href
    jobs_href=[]
    
#     extracting job titles
    for i in driver2.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
        job_titles.append(i.text)
#     extracting job locations
    for i in driver2.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span"):
        job_locs.append(i.text)
#     extracting companies names
    for i in driver2.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
        comp_names.append(i.text)
#     extracting the jobs href
    for i in driver2.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
        jobs_href.append(i.get_attribute('href'))
#     extracting jobs job-description
    for i in jobs_href[:12]:
        driver2.get(i)
        time.sleep(6)
        try:
            desc=driver2.find_element_by_xpath("//section[@class='job-desc']/div[1]")
            jobs_desc.append(desc.text.replace('\n',''))
        except:
            desc=driver2.find_element_by_xpath("//div[@class='clearboth description']")
            jobs_desc.append(desc.text.replace('\n',''))
#         going back to the Main page
        driver2.get('https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore')
        time.sleep(8)
        
    Q2_DF=pd.DataFrame({})
    Q2_DF['Job Title']=job_titles[:10]
    Q2_DF['Job Location']=job_locs[:10]
    Q2_DF['Company Name']=comp_names[:10]
    Q2_DF['Job Description']=jobs_desc[:10]
    
    driver2.close()
    
    return(Q2_DF)


# Calling Function    
data_scie1('https://www.naukri.com/')

,Job Title,Job Location,Company Name,Job Description
0,Data Scientist,Bangalore/Bengaluru,CronJ IT Technologies Private Limited,Responsibilities and DutiesCreate innovative s...
1,Opportunity For Data Scientist Internship - Be...,Bangalore/Bengaluru,Corner Stone Solutions,Location - Bangalore / BengaluruDuration- 6 Mo...
2,Data Scientist/ Analyst,Bangalore/Bengaluru,Becton Dickinson India Pvt. Ltd,Roles and Responsibilitiesob Description Summa...
3,Data Scientist - Machine Learning,Bangalore/Bengaluru,AugmatrixGo,Roles and Responsibilities- Selecting features...
4,Data Scientist || Data Analyst || Data science,"Navi Mumbai, Bangalore/Bengaluru",Inspiration Manpower Consultancy Pvt. Ltd.,Job descriptionJob Summary and Key Responsibil...
5,DBCG IND - GAMMA Senior Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Boston Consulting Group,What Youll DoWe re looking for a passionat...
6,Data Scientist/Senior Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",GANIT BUSINESS SOLUTIONS PRIVATE LIMITED,About Ganit IncFounded by senior industry expe...
7,Senior Data Scientist | CES IT LTD | CMMI Level 5,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",CES Ltd.,Roles and ResponsibilitiesMust have strong Pyt...
8,Global Medical Data Scientist,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,This is an ideal role for an experienced candi...
9,Associate Data Scientist - CRM & Loyalty,Bangalore/Bengaluru,Shell India Markets Private Limited,The RoleGeneral Position DefinitionThis role w...

## Q3: In this question you have to scrape data using the filters available on the webpage, You have to use the location and salary filter.You have to scrape data for “Data Scientist” designation for first 10 job results.You have to scrape the job-title, job-location, company_name, experience_required.The location filter to be used is “Delhi/NCR”.The salary filter to be used is “3-6” lakhs.
## Webpage https://www.naukri.com/

In [5]:
# Function Definition
def data_scie2(url):
    driver3=webdriver.Chrome("C://chromedriver.exe")
    driver3.get(url)
    time.sleep(6)
    
    enter_job=driver3.find_element_by_id('qsb-keyword-sugg')
    enter_job.send_keys('Data Scientist')
    search_butn=driver3.find_element_by_xpath("//div[@class='search-btn']/button")
    search_butn.click()
    time.sleep(6)
    
#     Let's set location filter to Delhi/NCR
    filter1=driver3.find_element_by_xpath("//label[@class='chkLbl' and @for='chk-Delhi / NCR-cityTypeGid-']/i")
    filter1.click()
    time.sleep(6)
#   Let's set Salary filter to 3-6 lakhs
    filter2=driver3.find_element_by_xpath("//label[@class='chkLbl' and @for='chk-3-6 Lakhs-ctcFilter-']/i")
    filter2.click()
    time.sleep(6)
    
#     Let's create empty lists to store necessary information 
    job_titles=[]
    job_locs=[]
    comp_names=[]
    exp_req=[]
    
#     extracting job titles
    for i in driver3.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
        job_titles.append(i.text)  
#     extracting job locations
    for i in driver3.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span"):
        job_locs.append(i.text) 
#     extracting companies names
    for i in driver3.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
        comp_names.append(i.text)  
#     extracting experience required
    for i in driver3.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span"):
        exp_req.append(i.text)
            
    Q3_DF=pd.DataFrame({})
    Q3_DF['Job Title']=job_titles[:10]
    Q3_DF['Job Location']=job_locs[:10]
    Q3_DF['Company Name']=comp_names[:10]
    Q3_DF['Experience Required']=exp_req[:10]
    
    driver3.close()
    
    return Q3_DF


# Calling Function
data_scie2('https://www.naukri.com/')

,Job Title,Job Location,Company Name,Experience Required
0,Data Scientist,Delhi / NCR,NatWest Group,4-8 Yrs
1,Data Scientist,Gurgaon/Gurugram,itForte Staffing Services Private Ltd.,3-8 Yrs
2,Data Scientist,Gurgaon/Gurugram,Msg.ai,3-5 Yrs
3,Data Scientist,Gurgaon/Gurugram,NatWest Group,4-8 Yrs
4,Data Scientist,Delhi / NCR,NatWest Group,4-8 Yrs
5,Data Scientist | Python | Machine Learning | D...,Noida(Sector-59 Noida),Careerera,3-8 Yrs
6,Data Scientist/Data Analyst - Python/Machine L...,"Mumbai, Ghaziabad",Change leaders,5-10 Yrs
7,GCP Presales AIML Architect & Data Scientist (...,Noida,Lecan Solutions Pvt Ltd,6-11 Yrs
8,GCP Presales AIML Architect & Data Scientist (...,Noida,Lecan Solutions Pvt Ltd,6-11 Yrs
9,Data Scientist Machine Learning,Gurgaon/Gurugram,Delhivery,1-3 Yrs

## Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape Company_Name, No. of Days ago when job was posted, Ratings of the Company.
## Webpage https://www.glassdoor.co.in/Job/india-jobs-SRCH_IL.0,5_IN115.htm

In [7]:
# Function Definition
def data_scie3(url):
    driver4=webdriver.Chrome('C://chromedriver.exe')
    driver4.get(url)
    time.sleep(10)
    
    enter_job=driver4.find_element_by_id('sc.keyword')
    enter_job.send_keys('Data Scientist')
    enter_loc=driver4.find_element_by_id('sc.location')
    enter_loc.clear()
    time.sleep(6)
    enter_loc.send_keys('Noida')
    search_butn=driver4.find_element_by_xpath("//button[@id='HeroSearchButton']")
    search_butn.click()
    time.sleep(10)
    
#     Let's create empty lists to store necessary information 
    comp_names=[]
    comp_ratings=[]
    days_ago=[]
    
#     extracting companies names
    for i in driver4.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']/span"):
        comp_names.append(i.text)  
#     extracting companies ratings
    for i in driver4.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']"):
        comp_ratings.append(float(i.text))
#     extracting no. of days ago when job was posted
    for i in driver4.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']"):
        days_ago.append(i.text)
            
    Q4_DF=pd.DataFrame({})
    Q4_DF['Company Name']=comp_names[:10]
    Q4_DF['Company Rating']=comp_ratings[:10]
    Q4_DF['No. of Days ago when job was posted']=days_ago[:10]
    
    driver4.close()
    
    return Q4_DF


# Calling Function
data_scie3('https://www.glassdoor.co.in/Job/india-jobs-SRCH_IL.0,5_IN115.htm')

,Company Name,Company Rating,No. of Days ago when job was posted
0,Unyscape Infocom Pvt. Ltd,4.1,30d+
1,Biz2Credit Inc,3.8,30d+
2,Adobe,4.4,6d
3,Techlive,5.0,30d+
4,Genpact,3.8,2d
5,Salasar New Age Technologies,5.0,30d+
6,Asquero,3.5,8d
7,Salasar New Age Technologies,4.4,30d+
8,CRMNEXT,3.9,13d
9,Microsoft,3.0,30d+

## Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
## Webpage https://www.glassdoor.co.in/Salaries/index.htm

In [8]:
# Function Definition
def data_scie4(url):
    driver5=webdriver.Chrome('C://chromedriver.exe')
    driver5.get(url)
    time.sleep(10)
    
    enter_job=driver5.find_element_by_id('KeywordSearch')
    enter_job.send_keys('Data Scientist')
    enter_loc=driver5.find_element_by_id('LocationSearch')
    enter_loc.clear()
    time.sleep(4)
    enter_loc.send_keys('Noida')
    search_butn=driver5.find_element_by_xpath("//button[@id='HeroSearchButton']")
    search_butn.click()
    time.sleep(10)
    
#     Let's create empty lists to store necessary information 
    comp_names=[]
    number_of_salaries=[]
    avg_salary=[]
    min_salary=[]
    max_salary=[]
    
#     extracting companies names
    for i in driver5.find_elements_by_xpath("//p[@class='m-0 ']"):
        comp_names.append(i.text)
#     extracting Number of salaries
    for i in driver5.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']"):
        number_of_salaries.append(i.text)   
#     extracting Average salary
    for i in driver5.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong"):
        avg_salary.append(i.text)
#     extracting Min salary
    for i in driver5.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[1]"):
        min_salary.append(i.text)  
#     extracting Max salary
    for i in driver5.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[2]"):
        max_salary.append(i.text)
              
    Q5_DF=pd.DataFrame({})
    Q5_DF['Company Name']=comp_names[:10]
    Q5_DF['Number of Salaries']=number_of_salaries[:10]
    Q5_DF['Average Salary']=avg_salary[:10]
    Q5_DF['Min Salary']=min_salary[:10]
    Q5_DF['Max Salary']=max_salary[:10]
    
    driver5.close()
    
    return Q5_DF

# Calling Function
data_scie4('https://www.glassdoor.co.in/Salaries/index.htm')

,Company Name,Number of Salaries,Average Salary,Min Salary,Max Salary
0,Tata Consultancy Services,14 salaries,"₹ 6,01,000",₹336L,"₹1,080L"
1,Accenture,14 salaries,"₹ 11,51,207",₹579L,"₹2,222L"
2,Delhivery,14 salaries,"₹ 12,34,207",₹452L,"₹11,669L"
3,IBM,13 salaries,"₹ 7,63,825",₹589L,"₹2,741L"
4,Ericsson-Worldwide,12 salaries,"₹ 7,32,209",₹350L,"₹1,619L"
5,UnitedHealth Group,10 salaries,"₹ 13,88,910","₹1,050L","₹1,500L"
6,Valiance Solutions,9 salaries,"₹ 8,18,515",₹504L,"₹1,471L"
7,Innovaccer,8 salaries,"₹ 12,01,403",₹623L,"₹1,702L"
8,ZS Associates,7 salaries,"₹ 10,00,000",₹203L,"₹1,817L"
9,EXL Service,7 salaries,"₹ 11,90,000",₹578L,"₹1,500L"

## Q6: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:Brand, Product Description, Price, Discount %.

In [9]:
# Function Definition
def sunglasses(url):
    driver6=webdriver.Chrome("c://chromedriver.exe")
    driver6.get(url)
    time.sleep(10)
    
    close=driver6.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
    close.click()
    
    enter_sunglasses=driver6.find_element_by_xpath("//input[@title='Search for products, brands and more']")
    enter_sunglasses.send_keys('sunglasses')
    search_butn=driver6.find_element_by_xpath("//button[@class='L0Z3Pu' and @type='submit']")
    search_butn.click()
    time.sleep(10)
    
#     extracting all sunglasses href from page-1 to page-3
    sg_href=[]
    for page in range(0,3):
        for i in driver6.find_elements_by_xpath("//a[@class='_2UzuFa']"):
            sg_href.append(i.get_attribute('href'))
#         to enter next page
        try:
            nxt_page=driver6.find_element_by_xpath("//nav[@class='yFHi8N']/a[12]")
            nxt_page.click()
        except:
            nxt_page=driver6.find_element_by_xpath("//nav[@class='yFHi8N']/a[11]")
            nxt_page.click()
        time.sleep(8)
    
# Let's create empty lists to store necessary information
    brand=[]
    desc=[]
    price=[]
    discount=[]

    for urls in sg_href[:108]:
        driver6.get(urls)
        delay=10
        WebDriverWait(driver6, delay).until(EC.presence_of_element_located((By.CLASS_NAME, 'G6XhRU')))
    
#     extracting Brand
        b=driver6.find_element_by_xpath("//span[@class='G6XhRU']")
        brand.append(b.text)
#     extracting Product Description
        try:
            d=driver6.find_element_by_xpath("//h1[@class='yhB1nd']/span[2]")
            desc.append(d.text)
        except:
            desc.append(np.nan)
#     extracting Price
        try:
            p=driver6.find_element_by_xpath("//div[@class='_30jeq3 _16Jk6d']")
            price.append(p.text)
        except:
            price.append(np.nan)
#     extracting Discount%
        try:
            dis=driver6.find_element_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']/span")
            discount.append(dis.text)
        except:
            discount.append(np.nan)
    
    Q6_DF=pd.DataFrame({})
    Q6_DF['Brand']=brand[:100]
    Q6_DF['Product Description']=desc[:100]
    Q6_DF['Price']=price[:100]
    Q6_DF['Discount %']=discount[:100]
    
    driver6.close()
    
    return Q6_DF


# Calling Function
sunglasses('https://www.flipkart.com/')

,Brand,Product Description,Price,Discount %
0,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹449,87% off
1,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹449,77% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size) ...,₹758,15% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Siz...,₹666,16% off
4,PIRASO,UV Protection Aviator Sunglasses (Free Size) ...,₹314,80% off
...,...,...,...,...
95,BKGE,"UV Protection, Polarized Rectangular, Retro Sq...",₹315,71% off
96,DEIXELS,UV Protection Rectangular Sunglasses (Free Siz...,₹211,82% off
97,Fastrack,UV Protection Wrap-around Sunglasses (Free Siz...,₹928,15% off
98,Aislin,"UV Protection, Gradient Round Sunglasses (58) ...",₹472,69% off
99,Fastrack,UV Protection Wrap-around Sunglasses (Free Siz...,₹759,15% off

## Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART'. You have to scrape attributes such as Rating, Review_summary, Full review.

In [10]:
# Function Definition
def iphone(url):
    driver7=webdriver.Chrome('C://chromedriver.exe')
    driver7.get(url)
    time.sleep(8)
    
#     Let's create empty lists to store necessary information
    ratings=[]
    review_summary=[]
    full_review=[]
    
    for page in range(0,14):
#         extracting Ratings
        for i in driver7.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
            ratings.append(float(i.text))
#         extracting Review Summary
        for i in driver7.find_elements_by_xpath("//p[@class='_2-N8zT']"):
            review_summary.append(i.text)
#         clicking 'Read More', so that we can extract full review
        for i in driver7.find_elements_by_xpath("//span[@class='_1BWGvX']/span"):
            i.click
#         extracting Full Review
        for i in driver7.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            full_review.append(i.text.replace('\n',''))
#         to enter next page 
        try:
            nxt_page=driver7.find_element_by_xpath("//nav[@class='yFHi8N']/a[12]")
            nxt_page.click()
        except:
            nxt_page=driver7.find_element_by_xpath("//nav[@class='yFHi8N']/a[11]")
            nxt_page.click()   
        time.sleep(8)
        
    Q7_DF=pd.DataFrame({})
    Q7_DF['Ratings']=ratings[:100]
    Q7_DF['Review Summary']=review_summary[:100]
    Q7_DF['Full Review']=full_review[:100]
    
    driver7.close()
    
    return Q7_DF


# Calling Function
iphone('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART')

,Ratings,Review Summary,Full Review
0,5.0,Brilliant,The Best Phone for the MoneyThe iPhone 11 offe...
1,5.0,Perfect product!,Amazing phone with great cameras and better ba...
2,5.0,Worth every penny,Previously I was using one plus 3t it was a gr...
3,5.0,Great product,Amazing Powerful and Durable Gadget.I’m am ver...
4,5.0,Highly recommended,iphone 11 is a very good phone to buy only if ...
...,...,...,...
95,5.0,Must buy!,I will just say its an awesome phone. Starting...
96,5.0,Worth every penny,"Just go for it without a second thought, if yo..."
97,5.0,Fabulous!,I really liked the budget iPhone. First I thou...
98,5.0,Wonderful,Dont think too much guys. perfect phone for da...
99,5.0,Classy product,Amazing delivery. Got my phone a day before ex...

## Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker: Brand, Product Description, Price, Discount %.

In [12]:
# Function Definition
def sneakers(url):
    driver8=webdriver.Chrome("c://chromedriver.exe")
    driver8.get(url)
    time.sleep(8)
    
    close=driver8.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
    close.click()
    
    enter_sneakers=driver8.find_element_by_xpath("//input[@title='Search for products, brands and more']")
    enter_sneakers.send_keys('sneakers')
    search_butn=driver8.find_element_by_xpath("//button[@class='L0Z3Pu' and @type='submit']")
    search_butn.click()
    time.sleep(8)
    
#     extracting all sneakers href from page-1 to page-3
    sn_href=[]
    for page in range(0,3):
        for i in driver8.find_elements_by_xpath("//a[@class='_2UzuFa']"):
            sn_href.append(i.get_attribute('href'))
#         to enter next page
        try:
            nxt_page=driver8.find_element_by_xpath("//nav[@class='yFHi8N']/a[12]")
            nxt_page.click()
        except:
            nxt_page=driver8.find_element_by_xpath("//nav[@class='yFHi8N']/a[11]")
            nxt_page.click()
        time.sleep(8)
#     Let's create empty lists to store necessary information    
    brand=[]
    desc=[]
    price=[]
    discount=[]

    for urls in sn_href[:108]:
        driver8.get(urls)
        delay=20
        WebDriverWait(driver8, delay).until(EC.presence_of_element_located((By.CLASS_NAME, 'G6XhRU')))
        
#         extracting Brand
        b=driver8.find_element_by_xpath("//span[@class='G6XhRU']")
        brand.append(b.text)
#         extracting Product Description
        try:
            d=driver8.find_element_by_xpath("//h1[@class='yhB1nd']/span[2]")
            desc.append(d.text)
        except:
            desc.append(np.nan)
#         extracting Price
        try:
            p=driver8.find_element_by_xpath("//div[@class='_30jeq3 _16Jk6d']")
            price.append(p.text)
        except:
            price.append(np.nan)
#         extracting Discount%
        try:
            dis=driver8.find_element_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']/span")
            discount.append(dis.text)
        except:
            discount.append(np.nan)
    
    Q8_DF=pd.DataFrame({})
    Q8_DF['Brand']=brand[:100]
    Q8_DF['Product Description']=desc[:100]
    Q8_DF['Price']=price[:100]
    Q8_DF['Discount %']=discount[:100]
    
    driver8.close()
    
    return Q8_DF

# Calling Function
sneakers('https://www.flipkart.com/')

,Brand,Product Description,Price,Discount %
0,French Connection,Sneakers For Men (Navy),₹799,60% off
1,Extoes,Modern Trendy Shoes Combo pack of 4 Sneakers F...,₹798,46% off
2,Chevit,Perfect & Affordable Combo Pack of 02 Pairs Sn...,₹499,72% off
3,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men...,₹399,60% off
4,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹474,76% off
...,...,...,...,...
95,SHOEFLY,Combo Men Pack of 2 Loafers Shoes Sneakers For...,₹299,70% off
96,zovim,"casual , Partywear Sneakers Shoes For Men's an...",₹439,56% off
97,Englewood,White Shoes For Men | Casual White Laceups Sho...,₹496,66% off
98,Kraasa,"Casuals, Canvas, Partywear Sneakers For Men (...",₹499,50% off
99,ROCKFIELD,Sneakers For Men (Grey),₹450,54% off

## Q9: Go to the link - https://www.myntra.com/shoes. Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”. And then scrape first 100 shoes data you get. The data should include “Brand” of the shoes , short Shoe description, Price of the shoes.

In [3]:
def shoes(url):
    driver9=webdriver.Chrome("C://chromedriver.exe")
    driver9.get(url)
    time.sleep(8)
    
#     setting color to "Black"
    filter2=driver9.find_elements_by_xpath("//li[@class='colour-listItem']/label/div")
    filter2[0].click()
    time.sleep(6)
#     setting price to “Rs. 6649 to Rs. 13099” 
    filter1=driver9.find_elements_by_xpath("//ul[@class='price-list']/li/label/div")
    filter1[1].click()
    time.sleep(6)
    
#     extracting all shoes href from page-1 to page-3
    shoes_href=[]
    for page in range(0,3):
        for i in driver9.find_elements_by_xpath("//a[@style='display: block;']"):
                shoes_href.append(i.get_attribute('href'))
#         to enter next page
        nxt_page=driver9.find_element_by_xpath("//li[@class='pagination-next']/a").get_attribute('href')
        driver9.get(nxt_page)
        time.sleep(8)
        
#     Let's create empty lists to store necessary information    
    brand=[]
    desc=[]
    price=[]
    
    for urls in shoes_href[:108]:
        driver9.get(urls)
        delay=10
        WebDriverWait(driver9, delay).until(EC.presence_of_element_located((By.CLASS_NAME, 'pdp-title')))
        
#         extracting Brand
        b=driver9.find_element_by_xpath("//h1[@class='pdp-title']")
        brand.append(b.text)
#         extracting Product Description
        try:
            d=driver9.find_element_by_xpath("//h1[@class='pdp-name']")
            desc.append(d.text)
        except:
            desc.append(np.nan)
#         extracting Price
        try:
            p=driver9.find_element_by_xpath("//span[@class='pdp-price']/strong")
            price.append(p.text)
        except:
            price.append(np.nan)
        
    Q9_DF=pd.DataFrame({})
    Q9_DF['Brand']=brand[:100]
    Q9_DF['Product Description']=desc[:100]
    Q9_DF['Price']=price[:100]
    
    driver9.close()
    
    return Q9_DF


shoes('https://www.myntra.com/shoes')

,Brand,Product Description,Price
0,ADIDAS Originals,Men Black Woven Design Nite Jogger Sneakers,Rs. 11199
1,Nike,Men Black REACT MILER Running Shoes,Rs. 9345
2,Nike,Men Black AIR ZOOM VOMERO 15 Running Shoes,Rs. 11470
3,Nike,Women Black REACT PHANTOM RUN FK 2 Running Shoes,Rs. 9596
4,Nike,Unisex Black PHANTOM GT ACADEMY FG/MG Football...,Rs. 7195
...,...,...,...
95,Tommy Hilfiger,Men Black Solid Sneakers,Rs. 6749
96,Ruosh,Men Black Leather Semiformal Slip-Ons,Rs. 6990
97,Ruosh,Men Black Solid Leather Formal Monks,Rs. 6990
98,Hush Puppies,Men Black Leather Derbys,Rs. 7999
99,Ruosh,Work Men Black Rare Leather Textured Derbys,Rs. 8990

## Q10: Go to the webpage https://www.amazon.in/. Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”.After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:Title, Ratings, Price.

In [4]:
driver10=webdriver.Chrome('C://chromedriver.exe')
driver10.get('https://www.amazon.in/')

In [5]:
enter_laptop=driver10.find_element_by_id('twotabsearchtextbox')
enter_laptop.send_keys('Laptop')
search_butn=driver10.find_element_by_id("nav-search-submit-button")
search_butn.click()

In [6]:
# Main Page

driver10.get('https://www.amazon.in/s?k=Laptop&ref=nb_sb_noss')

In [7]:
# extracting elements to set CPU Type filter to “Intel Core i7” and “Intel Core i9”
filter1=driver10.find_elements_by_xpath("//ul[@aria-labelledby='p_n_feature_thirteen_browse-bin-title']/li/span/a/div/label/i")

    Since webpage is not allowing to set both CPU Types at once, so let's first set CPU Type to “Intel Core i7”.

In [8]:
# setting CPU Type filter to “Intel Core i7”
filter1[-3].click()

In [9]:
# extracting mobiles href 

mobiles_href=[]
for i in driver10.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']"):
    mobiles_href.append(i.get_attribute('href'))

In [10]:
# Let's create empty lists to store necessary information
title=[]
price=[]
ratings=[]

for url in mobiles_href[:10]:
    driver10.get(url)
    time.sleep(6)
    
#     extracting title
    t=driver10.find_element_by_xpath("//span[@id='productTitle']")
    title.append(t.text)
#     extracting price
    try:
        p=driver10.find_element_by_xpath("//span[@id='priceblock_ourprice']")
        price.append(float(p.text[2:].replace(',','')))
    except:
        price.append(np.nan)
#     extracting ratings
    try:
        r=driver10.find_element_by_xpath("//span[@id='acrPopover']")
        ratings.append(r.get_attribute('title'))
    except:
        ratings.append(np.nan)

In [11]:
# going back to the Main Page

driver10.get('https://www.amazon.in/s?k=Laptop&ref=nb_sb_noss')

In [12]:
# extracting elements to set CPU Type filter to “Intel Core i9”

filter2=driver10.find_elements_by_xpath("//ul[@aria-labelledby='p_n_feature_thirteen_browse-bin-title']/li/span/a/div/label/i")

In [13]:
# setting CPU Type filter to “Intel Core i9”

filter2[-2].click()

In [14]:
# extracting mobiles href 

mobiles_href=[]
for i in driver10.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']"):
    mobiles_href.append(i.get_attribute('href'))

In [15]:
for url in mobiles_href[:10]:
    driver10.get(url)
    time.sleep(6)
    
#     extracting title
    t=driver10.find_element_by_xpath("//span[@id='productTitle']")
    title.append(t.text)
#     extracting price
    try:
        p=driver10.find_element_by_xpath("//span[@id='priceblock_ourprice']")
        price.append(float(p.text[2:].replace(',','')))
    except:
        price.append(np.nan)
#     extracting ratings
    try:
        r=driver10.find_element_by_xpath("//span[@id='acrPopover']")
        ratings.append(r.get_attribute('title'))
    except:
        ratings.append(np.nan)

In [16]:
Q10_DF=pd.DataFrame({})
Q10_DF['Title']=title
Q10_DF['Price']=price
Q10_DF['Rating']=ratings

In [17]:
Q10_DF

,Title,Price,Rating
0,Mi Notebook Horizon Edition 14 Intel Core i7-1...,59999.0,4.3 out of 5 stars
1,Lenovo Yoga 9 11th Gen Intel Core i7 14-inch 4...,167990.0,5.0 out of 5 stars
2,(Renewed) Lenovo Thinkpad Yoga S1 Laptop (CORE...,38990.0,1.0 out of 5 stars
3,HP 14 Thin & Light 14-inch FHD Laptop (11th Ge...,76500.0,4.6 out of 5 stars
4,"Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6""...",135490.0,4.3 out of 5 stars
5,Mi Notebook Horizon Edition 14 Intel Core i5-1...,54999.0,4.3 out of 5 stars
6,LifeDigital ZED AIR CX7 15.6 IPS FHD Screen Bl...,NaN,3.5 out of 5 stars
7,HP Pavilion Gaming 11th Gen Intel Core i7 Proc...,83077.0,NaN
8,Lenovo Legion Y540 Intel Core i7 9th Gen 15.6 ...,78990.0,4.1 out of 5 stars
9,LifeDigital ZED AIR CX7 15.6 IPS FHD Screen Bl...,NaN,2.0 out of 5 stars
10,ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...,259990.0,3.3 out of 5 stars
11,ASUS ROG G703GI-E5148T 17.3-inch FHD 144Hz/3ms...,522077.0,3.9 out of 5 stars
12,Dell XPS 9570 15.6-inch UHD Laptop (8th Gen i9...,227200.0,2.3 out of 5 stars
13,Dell Alienware m15(R3) 15.6-inch UHD Gaming La...,342990.0,3.0 out of 5 stars
14,ASUS ZenBook Pro Duo UX581GV-H2041T Intel Core...,274990.0,4.0 out of 5 stars
15,Dell Alienware 17 Area 51 9thGeneration Corei9...,NaN,4.2 out of 5 stars
16,"ASUS ROG Strix Scar 15 (2020), 15.6"" FHD 300Hz...",214990.0,1.0 out of 5 stars
17,HP Omen X 2S Core i9 9th Gen 15.6-inch Dual Sc...,364800.0,4.4 out of 5 stars
18,Dell G7 7500 15.6inch FHD 300 Hz Display Gamin...,206990.0,5.0 out of 5 stars
19,Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...,259990.0,3.1 out of 5 stars

In [18]:
driver10.close()